.App {
}

.my-navbar {
  background-color: #dcf0da;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.logo {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.search-bar {
  height: 3rem;
  background-color: #e5fbe4;
  border: 3px solid #aed19e;
  color: #000000;
}

.salad-container-outer {
  background-color: #dcf0da;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.75rem solid #dcf0da;
  border-radius: 1rem;
}

.salad-container-courses {
  background-color: #f6fdf4;
  border-top: 0.25rem solid #f6fdf4;
  border-bottom: 0.25rem solid #f6fdf4;
  border-left: 0.75rem solid #f6fdf4;
  border-right: 0.75rem solid #f6fdf4;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: calc(75vh - 9rem);
}

.salad-container-courses-tabs {
  background-color: #f6fdf4;
  border-top: 0.25rem solid #f6fdf4;
  border-bottom: 0.25rem solid #f6fdf4;
  border-left: 0.75rem solid #f6fdf4;
  border-right: 0.75rem solid #f6fdf4;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: calc(70vh - 9rem);
}

.salad-container-schedule {
  background-color: #f6fdf4;
  border-top: 0.25rem solid #f6fdf4;
  border-bottom: 0.25rem solid #f6fdf4;
  border-left: 0.75rem solid #f6fdf4;
  border-right: 0.75rem solid #f6fdf4;
  border-radius: 1rem;
  height: calc(100vh - 9rem);
}

.salad-container-schedule-tabs {
  background-color: #f6fdf4;
  border-top: 0.25rem solid #f6fdf4;
  border-bottom: 0.25rem solid #f6fdf4;
  border-left: 0.75rem solid #f6fdf4;
  border-right: 0.75rem solid #f6fdf4;
  border-radius: 1rem;
  height: calc(95vh - 9rem);
}

.salad-container-maps {
  background-color: #94128dd8;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 25vh;
  width: 100%;
  z-index: 0;
}

.info-card {
  background: rgba(226, 231, 226, 0.5);
  border: 0.2rem solid #f6fdf4;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-card:hover {
  border: 0.2rem solid #aed19e;
  border-radius: 10px;
}

.info-card hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.section-card p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.schedule-card {
  background: rgb(232, 245, 232);
  border: none;
  border-left: 7px solid;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.schedule-card p {
  font-size: 0.75rem;
  margin: 0px;
}

.schedule-body {
  height: 100%;
}

.schedule-body .hour-text {
  text-align: right;
  margin: 0;
}

.schedule-body .hour-cell {
  height: 100%;
  width: 100%;
  border-bottom: 2px dashed rgb(226, 231, 226);
  position: relative;
}

.hour-cell p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.schedule-body .days-col {
  margin-bottom: 0.6rem;
  padding: 0;
  width: 100%;
}

.schedule-body .hours-col {
  margin-top: 2rem;
  margin-right: 0.5rem;
  flex: 0 0 3rem;
}

.class-placeholder {
  width: 100%;
}

.schedule-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.schedule-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sections-list-header {
  margin-top: 1vh;
  opacity: 0.75;
}

.sections-list-header hr {
  border-top: 4px dashed #aed19e;
}

.back-btn {
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.ReactModal__Content {
  top: 20% !important;
  left: 20% !important;
  transform: translate(-10%, -10%) !important;
  border-radius: 1rem !important;
  border: 0.5rem solid purple !important;
}

.ReactModal__Overlay {
  z-index: 3 !important;
}

.modal-buttons {
}

.modal-description-name {
}

.modal-description-desc {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
  padding: 0.2em 0.4em;
}

.nav-link {
  color: #7ecc86 !important;
  background-color: #ffffff !important;
}

.nav-link.active {
  color: #ffffff !important;
  background-color: #7ecc86 !important;
}

::-webkit-scrollbar {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}
