.App {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.opaque {
  color: rgba(0, 0, 0, 0.25);
}
